html, body{
  min-height: 100%;
  height: 100%;
}

.fill{
  height: calc(100vh - 100px);
}


#appBuckets {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 150px);
}

#forgeViewer {
  width: 100%;
}
.box {
  /* min-width: 200px; */
  height: 30px;
  border: 1px solid #080707;
  font-size: 18px;
  color: #1c87c9;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  margin-top: 10px;
}
.menu-items{display: inline-block;}
.navbar{background-color: aliceblue;}


/*    Bootstrap override   */
.btn-group{margin: 9px;}
.vam{vertical-align: middle;}
.navbar-nav{flex-direction: inherit;align-items: center;}
.navbar{padding-top: 0;}

/* Grid Stack */
.grid-stack {
  background:#e1ebf7;
  height: 100%;
    width: 100%;
}

.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: white;
}



#dashboard{
  overflow: auto;
  height: calc(100vh - 100px);
}

.transition-width {
  transition: width 1s ease-in-out;
}

.dashboardPanel {
  width: 100%;
  padding: 3%;
  display: block;
}